                            /* Projet Site web Groupe 1 */ 
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    margin: 0px 50px;
    margin-top: 50px;
}

/* Header */
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-logo img{
    width: 100%;
    height: 60px;
    margin-right: 10px;
}
.header-logo h1{
    font-size: 30px;
    color: #000;
    font-family: 'Dancing Script', cursive;
}
.header-text{
    padding: 0px 26px;
    box-shadow: rgba(4, 128, 55, 0.16) 0px 5px 15px;
}
.header-text h1{
    font-size: 30px;
    color: #07793d;
    font-family: 'Dancing Script', cursive;
}
.header-banner{
    background-image:linear-gradient(to bottom, rgba(7, 121, 61, 0.80), rgba(255, 255, 255, 0.1)),
    url('img/banniere.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
}
.header-banner h1{
    font-size: 110px;
    color: #000;
    font-family: 'Dancing Script', cursive;
    margin: auto;
}
.header-menu ul{
    display: flex;
}
.header-menu ul li{
    list-style: none;
    font-size: 20px;
    margin-right: 34px;
}
.header-menu ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #000;
}
.header-menu ul li a:hover{
    text-decoration: none;
    font-weight: 600;
    color: #07793d;
}


/* Main */
main {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}
main img {
    width: 100%;
}
.toolbar{
    width: 20%;
    background-color: red;
}
.content{
    width: 80%;
    padding: 0px 40px;
    background-color: yellow;
}
.sidebar{
    width: 20%;
    background-color: green;
}


.toolbar-cadre ul li{
    list-style: none;
}

.content .texte-image{
    display: flex;
    justify-content: space-between;
}
.content .texte-image p, 
.content .texte-image img {
    width: 50%;
}



/* Footer */